.admin-grid {
    display: grid;
    grid-template-columns: 15% 85%;
    /* background-color: aqua; */
}

.admin-sidebar {
    font-size: 32px;
    border-right: 1px solid black;
    height: 100vh;
}

.admin-user {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.admin-user img {
    position: relative;
    cursor: pointer;
    width: 43px;
    height: 43px;
    background-color: #ffffff;
    border-radius: 50px;
}

.admin-dropdown-menu {
    position: absolute;
    top: 35px;
    right: 10px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 120px;
    margin-top: 10px;
    z-index: 100;
}

.admin-dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.admin-dropdown-item:hover {
    background: #f5f5f5;
}

.admin-menu {
    margin-top: 30%;
    margin-left: 10%;
}

.admin-body {
    margin-top: 8%;
    margin-left: 8%;
    display: grid;
    grid-template-areas:
        "box1 box2 box3";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.box1 {
    grid-area: box1;
    background-color: #f2f2f2;
    width: 250px;
    height: 150px;
}

.box2 {
    grid-area: box2;
    background-color: #f2f2f2;
    width: 250px;
    height: 150px;
}

.box3 {
    grid-area: box3;
    background-color: #f2f2f2;
    width: 250px;
    height: 150px;
}
