.cms-body{
    height: 100vh;
    overflow: hidden;   
}

.bill-table{
    width: 1000px;
    border: 1px solid black;
    background-color: white;

}

.bill-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7%;
}