.user-box{
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.804); */
}


.user-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10%;
    
    width: 500px;
    height: 550px;
    padding: 30px;
}

.user-content{
    /* border: 1px solid black; */
    height: 470px;
    border-radius: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-btn{
    position: absolute;
    bottom: -50px;
    right: 50px;
}

